{% set currentLang = services.sessionStorage.getLang() %}
{% set homepageJson = getExternalContent("https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/js/HomepageContent.json") %}
{% set homepageData = homepageJson[currentLang] %}
<div class="homePage">
  <div id="carousel-example-generic" data-ride="carousel" class="carousel slide">
    <div role="listbox" class="carousel-inner">
      <div class="carousel-item">
        <a href="/kombikinderwagen" class="hero-category"><img src="https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/pexels-photo-1007773.jpeg" alt="Slide 1" class="img-fluid"></a>
        <div class="slide-caption slide-position7 design1 mobile-design2">
          <div class="slide-text">
            <h1>Kombikinderwagen</h1>
            <p>Entdecken Sie unsere verschiedenen Kinderwagen</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/alles-fuer-ihr-kind" class="hero-category"><img src="https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/pexels-photo-208153__2_.jpeg" class="img-fluid"></a>
        <div class="slide-caption slide-position7 design1 mobile-design2">
          <div class="slide-text">
            <h2>Alles für Ihr Kind</h2>
            <p>Entdecken Sie unser Sortiment, vorbeischauen lohnt sich!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <a href="/babyschaukel" class="hero-category"><img src="https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/pexels-photo-266004__1_.jpeg" class="img-fluid"></a>
        <div class="slide-caption slide-position7 design1 mobile-design2">
          <div class="slide-text">
            <h2>Babyschaukeln</h2>
            <p>Entdecken Sie unsere verschiedenen Babyschaukeln</p>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
    </ol>
    <a href="#carousel-example-generic" role="button" data-slide="prev" class="left carousel-control">
      <span aria-hidden="true" class="icon-prev"></span>
      <span class="sr-only">Zurück</span></a>
    <a href="#carousel-example-generic" role="button" data-slide="next" class="right carousel-control">
      <span aria-hidden="true" class="icon-next"></span>
      <span class="sr-only">Nächste</span></a>
  </div>
  <div class="row">
    <div class="col-md-4 banner-block col-sm-4 col-xs-12">
      <div class="banner text-center banner-font-light hover-zoom">
        <div class="banner-content">
          <p>&nbsp;</p>
          <h3 style="margin: 80px 0 0 0; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/stillkissen-in-verschieden-farben-von-hobea-germany/a-3884/" style="color:#fff">Stillkissen</a>
          </h3>
          <p>
            <a href="https://www.hobea.de/stillkissen-in-verschieden-farben-von-hobea-germany/a-3884/" style="color:#fff">Perfekt zum Schlafen und Stillen</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <a href="https://www.hobea.de/stillzubehoer/">
          <img alt="Baby-Stillkissen" src="/images/gallery/pl_legenda/hobea-stillkissen-seitenschlaeferkissen.jpg">
        </a>
      </div>
    </div>
    <div class="col-md-4 banner-block col-sm-4 col-xs-12">
      <div class="banner text-center banner-font-light hover-zoom">
        <div class="banner-content">
          <p>&nbsp;</p>
          <h3 style="margin: 80px 0 0 0; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/kinderschuhe/krabbelschuhe/" style="color:#fff">Baby + Kinder Krabbelschuhe</a>
          </h3>
          <p>
            <a href="https://www.hobea.de/kinderschuhe/krabbelschuhe/" style="color:#fff">Niedliche Schuhe für Kinder</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <a href="https://www.hobea.de/kinderschuhe/krabbelschuhe/">
          <img alt="HOBEA Krabbelschuhe Leder" src="/images/gallery/pl_legenda/baby-krabbelschuhe-hobea.jpg">
        </a>
      </div>
    </div>
    <div class="col-md-4 banner-block col-sm-4 col-xs-12">
      <div class="banner text-center banner-font-light hover-zoom">
        <div class="banner-content">
          <p>&nbsp;</p>
          <h3 style="margin: 80px 0 0 0; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/taufkleidung-und-festkleidung/" style="color:#fff">Taufkleider</a>
          </h3>
          <p>
            <a href="https://www.hobea.de/taufkleidung-und-festkleidung/" style="color:#fff">Festliche Kindermode</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <a href="https://www.hobea.de/taufkleidung-und-festkleidung/">
          <img alt="Taufkleider-festlich" src="/images/gallery/pl_legenda/taufkleid-mädchen.jpg">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 banner-block col-sm-4 col-xs-12">
      <div class="banner text-center banner-font-light hover-zoom">
        <div class="banner-content">
          <p>&nbsp;</p>
          <h3 style="margin: 80px 0 0 0; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/haengesessel-und-haengematten/" style="color:#fff">Hängesessel und Hängematten</a>
          </h3>
          <p>
            <a href="https://www.hobea.de/haengesessel-und-haengematten/" style="color:#fff">der ideale Ort zum Entspannen &amp; Träumen</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <a href="https://www.hobea.de/haengesessel-und-haengematten/">
          <img alt="HOBEA Hängesessel Haus &amp; Garten" src="/images/gallery/pl_legenda/hobea-haengesessel-garten.jpg">
        </a>
      </div>
    </div>
    <div class="col-md-4 banner-block col-sm-4 col-xs-12">
      <div class="banner text-center banner-font-light hover-zoom">
        <div class="banner-content">
          <p>&nbsp;</p>
          <h3 style="margin: 80px 0 0 0; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/einschlagdecken/" style="color:#fff">Einschlagdecke für die Babyschale</a>
          </h3>
          <p style="color: white; margin-top: 10px; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/einschlagdecken/" style="color:#fff">Praktische Maxi Cosi Decke für unterwegs
              <br>Sommer und Winter-Ausführungen</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <a href="https://www.hobea.de/einschlagdecken/">
          <img src="/images/gallery/pl_legenda/einschlagdecke-maxi-cosi-hobea.jpg">
        </a>
      </div>
    </div>
    <div class="col-md-4 banner-block col-sm-4 col-xs-12">
      <div class="banner text-center banner-font-light hover-zoom">
        <div class="banner-content">
          <p>&nbsp;</p>
          <h3 style="margin: 80px 0 0 0; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/kinderschuhe/janosch-krabbelschuhe/" style="color:#fff">Janosch Krabbelschuhe</a>
          </h3>
          <p style="color: white; margin-top: 10px; text-shadow: 1px 1px 8px #000;">
            <a href="https://www.hobea.de/kinderschuhe/janosch-krabbelschuhe/" style="color:#fff">Janosch Krabbelschuhe von HOBEA-Germany machen Tigerente &amp; Co. zu treuen Begleitern für die ersten Schritte der Kleinsten.</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <a href="https://www.hobea.de/kinderschuhe/janosch-krabbelschuhe/">
          <img src="/images/gallery/pl_legenda/janosch-krabbelschuhe.jpg">
        </a>
      </div>
    </div>
  </div>
  <div class="section-content">
    <div class="container">
      <div class="service-items row mobile-row">
        <div class="row">
          <div class="col-md-4">
            <div class="item-box">
              <div class="icon-box-inner text-center">
                <span class="icon-circled">
                  <i class="fa fa-truck"></i>
                </span>
                <p class="icon-box-title text-uppercase">
                  <strong>Versand</strong>
                </p>
                <p>Sie zahlen nur einmal die Versandkosten pro Sendung!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <div class="icon-box-inner text-center">
                <span class="icon-circled">
                  <i class="fa fa-comment-o"></i>
                </span>
                <p class="icon-box-title text-uppercase">
                  <strong>Service</strong>
                </p>
                <p>Ihre Anfragen beantworten wir innerhalb von 24 Stunden</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <div class="icon-box-inner text-center">
                <span class="icon-circled">
                  <i class="fa fa-star"></i>
                </span>
                <p class="icon-box-title text-uppercase">
                  <strong>Qualität</strong>
                </p>
                <p>Wir versenden nur hochwertige, frische Qualitätsware</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="seotext text-center">
          <div class="titel">
            <h2 class="titel">Kinderwagen von M&L Handel</h2>
          </div>
          <p>Alles für Ihr Kind - vom Kinderwagen, über Kinderspielzeug, Babyschaukeln und Kinderdreirädern bieten wir Ihnen verschiedene interessante Artikel zum Thema Kind und Kinderwagen.</p>
          <p>M&L-Handel bietet Ihnen Kinderwagen und Kinderwagen-Zubebör in den verschiedensten Ausführungen</p>

          <p>Unser Ziel ist es, Ihnen preiswerte und qualitativ hochwertige Produkte rund um das Thema Kinderwagen und Erstausstattung für Ihr Kind anzubieten. Die Zufriedenheit unserer Kunden ist uns sehr wichtig, denn wir möchten, dass unsere Kunden wieder
            kommen und nicht unsere Produkte.</p>
        </div>
      </div>
    </div>
  </div>

</div>
