<!-- Full Page Image Background Carousel Header -->
  <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b8373cb58adea53aadfafc395e52c9cd&auto=format&fit=crop&w=1350&q=80');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInLeft">Alles fürs Kind</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">jetzt einkaufen</a></p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1493390114000/photosp/d584c486-56c3-4e53-9f1c-e29d9aa07a53/stock-photo-dad-daddy-stroller-daddy-and-son-d584c486-56c3-4e53-9f1c-e29d9aa07a53.jpg');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInDown">Kinderwagen</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">jetzt einkaufen</a></p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1445573162000/photosp/9e02a883-f943-4c8a-8f3c-76f82c1173a5/stock-photo-pink-bedroom-interior-baby-room-pastel-nursery-baby-girl-9e02a883-f943-4c8a-8f3c-76f82c1173a5.jpg');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInRight">Kinderbetten</h2>
                     <p class="animated fadeInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInRight"><a href="#" class="btn btn-transparent btn-rounded btn-large">Jetzt einkaufen</a></p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
