
<div class="cmp cmp-hero">
  <div class="hero-main">
    <div id="carousel-example-generic" data-ride="carousel" class="carousel slide">
      <div role="listbox" class="carousel-inner">
        <div class="carousel-item active">
          <a href="/innenleuchten/tischleuchten/bankers-lamp-bankerslamp-bankierslampe-jack-green-10122_11622558_1121" class="hero-category"><img src="/images/gallery/Startseite-Slider/kategoriename_kat1.jpg" alt="Bankerslamp Jack" class="img-fluid">
            <div class="carousel-caption">
              <h1>
                <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                Bankerslamp Jack</h1>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="/aussenleuchten/kugelleuchten" class="hero-category"><img src="/images/gallery/Startseite-Slider/kategorienameB_kat1.jpg" alt="Kugelleuchten für Außen" class="img-fluid">
            <div class="carousel-caption">
              <h1>
                <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                Kugelleuchten für Außen</h1>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="/brunnen/gartenbrunnen" class="hero-category"><img src="/documents/category/101/Brunnen-kat1.jpg" alt="Gartenbrunnen" class="img-fluid">
            <div class="carousel-caption">
              <h1>
                <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                Gartenbrunnen</h1>
            </div>
          </a>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>
      <a href="#carousel-example-generic" role="button" data-slide="prev" class="left carousel-control">
        <span aria-hidden="true" class="icon-prev"></span>
        <span class="sr-only">Zurück</span></a>
      <a href="#carousel-example-generic" role="button" data-slide="next" class="right carousel-control">
        <span aria-hidden="true" class="icon-next"></span>
        <span class="sr-only">Nächste</span></a>
    </div>
  </div>
  <div class="hero-xtras">
    <a href="/innenleuchten/deckenleuchten" class="hero-category"><img src="/documents/category/21/Deckenleuchten-kat1.jpg" alt="Deckenleuchten" class="img-fluid">
      <div class="hero-category-inner">
        <h2 class="hero-category-headline">
          <i aria-hidden="true" class="fa fa-angle-double-right"></i>
          Deckenleuchten
        </h2>
      </div>
    </a>
    <a href="/innenleuchten/pendelleuchten" class="hero-category"><img src="/documents/category/26/Pendelleuchten-kat1.jpg" alt="Pendelleuchten" class="img-fluid">
      <div class="hero-category-inner">
        <h2 class="hero-category-headline">
          <i aria-hidden="true" class="fa fa-angle-double-right"></i>
          Pendelleuchten
        </h2>
      </div>
    </a>
  </div>
</div>
<!-- Full Page Image Background Carousel Header -->
  <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b8373cb58adea53aadfafc395e52c9cd&auto=format&fit=crop&w=1350&q=80');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInLeft">Alles fürs Kind</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">jetzt einkaufen</a></p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1493390114000/photosp/d584c486-56c3-4e53-9f1c-e29d9aa07a53/stock-photo-dad-daddy-stroller-daddy-and-son-d584c486-56c3-4e53-9f1c-e29d9aa07a53.jpg');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInDown">Kinderwagen</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">jetzt einkaufen</a></p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1445573162000/photosp/9e02a883-f943-4c8a-8f3c-76f82c1173a5/stock-photo-pink-bedroom-interior-baby-room-pastel-nursery-baby-girl-9e02a883-f943-4c8a-8f3c-76f82c1173a5.jpg');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInRight">Kinderbetten</h2>
                     <p class="animated fadeInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInRight"><a href="#" class="btn btn-transparent btn-rounded btn-large">Jetzt einkaufen</a></p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3 tile-title">
        <a href="/kindersitze/">Kindersitze</a>
      </div>
      <a href="/kindersitze/"><img alt="" class="tile-image" src="https://assets.babymarkt.com/out/bmResponsive/img/RDX-kw10-kindersitze.jpg"></a>
      <div class="tile-text closed js-show-more-content">

        Sichere Fahrt auf großen Abenteuern - mit hochwertiger Babyschale, mitwachsendem Kindersitz oder Reboarder. Unser Berater hilft dir bei der Auswahl und unser Sicherheitsversprechen garantiert kostenlosen Ersatz im Schadensfall. Gute Fahrt!
        <a class="tile-more js-show-more" data-alt="< weniger" href="#">mehr &gt;</a></div></div>

      </div>
    </div>
