
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* Change background colour */
body {
    background-color: #ffffff;

}

.page-content {
	background-color: #ffffff;
}
.navbar{
    background-color: #ffffff;

}
body > #vue-app, body > #vue-error{
  background-color: #ffffff;
}
.wrapper-main #page-body
{
  background-color: #ffffff;
}
/*Payment Informations in Footer*/
.pay160614 {
  list-style-type: none;
  padding: 0
}

@media(max-width:767px) {
  .pay160614 {
    padding: 0 15px
  }
}

.pay160614 li {
  float: left;
  width: 14.28%;
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast
}

.pay160614 li a {
  display: block;
  height: 40px;
  width: 100%
}

@media(max-width:590px) {
  .pay160614 li a {
    height: 30px
  }
}

@media(max-width:500px) {
  .pay160614 li a {
    height: 20px
  }
}

.pay160614 li.paypal {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/paypal.png')
}

.pay160614 li.amazon {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/amazon.png')
}

.pay160614 li.klarna {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/klarna.png')
}

.pay160614 li.sofort {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/sofort.png')
}

.pay160614 li.mastercard {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/mastercard.png')
}

.pay160614 li.visa {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/visa.png')
}

.pay160614 li.dhl {
  background-image: url('https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/dhl.png')
}
.pay160614 li.dpd {
  background-image: url('https://www.ml-handel-shop.de//layout/ml-handel/img/shipping_provider/dpd-logo.png')
}
/*Footer Social Media */

.socials160613 a {
  text-decoration: none;
  font-size: 22px
}

/*Footer Service, Newsletter, Certificate*/
.middlefooter ul {
  list-style-type: none;
  padding-left: 10px
}

.middlefooter ul li {
  padding: 2px 0
}

.middlefooter li:before {
  content: "\00b7";
  margin-right: 15px
}

.middlefooter li.phone {
  font-size: 16px;
  margin-bottom: -8px
}

.middlefooter li.phone:before {
  content: "\e182";
  font-family: 'Glyphicons Halflings';
  margin: 0 8px 0 -6px
}

.middlefooter li.mail {
  font-size: 16px
}

.middlefooter li.mail:before {
  content: "\e171";
  font-family: 'Glyphicons Halflings';
  margin: 0 10px 0 -8px
}

.middlefooter li.noicon:before {
  content: "";
  margin-right: 18px
}

.middlefooter .disclaimer, .middlefooter .disclaimer a {
  color: #5c5c5c
}

@media(min-width:768px) {
  .middlefooter .disclaimer {
    text-align: right
  }
}

/* Trusted Shop Icon */
.trust160701 {
  display: block;
  background-image: url("https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/trusted.png");
  height: 60px;
  width: 60px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-size: 100%;
  image-rendering: -webkit-optimize-contrast
}

/*Post footer */
.postfooter {

  box-shadow: none
}

.postfooter .container {
  padding: 40px 0
}
@media(max-width:767px) {
  .postfooter .col-sm-8, .postfooter .col-sm-4 {
    text-align: center
  }
}
footer {
  background: #262626
}

footer .container {
  box-shadow: none;
  background: 0
}
.footernl input {
  float: left;
  width: 70%;
  border-radius: 4px 0 0 4px
}

.footernl input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #f0f0f0
}

.footernl button {
  float: left;
  width: 30%;
  border-radius: 0 4px 4px 0;
  background-color: #c7438e;
  border-color: #c7438e
}

footer, footer a {
  color: #c9c9c9
}

footer a:hover, footer a:active, footer a:focus {
  color: white;
  text-decoration: none
}

footer li:hover {
  color: white
}

footer .container {
  background: 0
}
.babicon {
  font-family: 'baby';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /*! Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.babicon-sofort:before {
  content: "\e614"
}

.babicon-dhl:before {
  content: "\e62d"
}

.babicon-klarna:before {
  content: "\e62e"
}

.babicon-master:before {
  content: "\e611"
}

.babicon-paypal:before {
  content: "\e612"
}

.babicon-visa:before {
  content: "\e613"
}

.babicon-amazon:before {
  content: "\e610"
}

.babicon-forwarding:before {
  content: "\e600"
}

.babicon-user:before {
  content: "\e601"
}

.babicon-babyartikel-basket:before {
  content: "\e602"
}

.babicon-babyartikel-basketplus:before {
  content: "\e60f"
}

.babicon-kueken:before {
  content: "\e603"
}

.babicon-mail:before {
  content: "\e604"
}

.babicon-twitter:before {
  content: "\e605"
}

.babicon-facebook:before {
  content: "\e606"
}

.babicon-google:before {
  content: "\e607"
}

.babicon-pinterest:before {
  content: "\e608"
}
.text-center {
  text-align: center !important
}

.babicon-youtube:before {
  content: "\e609"
}

.babicon-instagram:before {
  content: "\e60a"
}

.babicon-wordpress:before {
  content: "\e60b"
}

.babicon-heart:before {
  content: "\e60c"
}

.babicon-check:before {
  content: "\e60d"
}

.babicon-share:before {
  content: "\e60e"
}
/*Header Styling */
.header__row {
  border-bottom: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  position: relative
}
.header__item--user-nav {
  width: 25%
}

.header__item--nav {
  width: 75%
}

.header__item--search {
  padding-left: 15px;
  width: 25%
}

.header__logo {
  height: 100%;
  left: 50%;
  max-width: 250px;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0)
}

.header__logo .svg-babymarkt-logo, .header__logo .svg-babymarkt-logo-xmas {
  height: 48px;
  margin-top: 8px
}
.user-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 10px;
  padding: 10px 0 10px 15px;
  text-align: right
}

.user-navigation__item {
  color: gray;
  display: inline-block;
  text-align: center;
  text-decoration: none
}

.user-navigation__item:hover {
  text-decoration: none
}

.user-navigation__icon {
  background-color: #d0d0d0;
  border-radius: 50%;
  display: block;
  height: 30px;
  margin: 0 auto 7px;
  position: relative;
  text-align: center;
  width: 30px
}

.user-navigation__icon--blank {
  background: none;
  width: 35px
}

.user-navigation__notification {
  background-color: #dc066b;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  font-size: 10px;
  left: -4px;
  line-height: 13px;
  min-width: 13px;
  padding: 0 2px;
  position: absolute;
  text-align: center
}

.user-navigation .svg-heart {
  color: #fff;
  margin-top: 1px;
  stroke-width: 0;
  width: 22px
}

.user-navigation .svg-person {
  margin-top: -1px;
  width: 18px
}


/*carousel */
.carousel-inner img {
     width: 100%; /* Set width to 100% */
     margin: auto;
     min-height:200px;
 }

 /* Hide the carousel text when the screen is less than 600 pixels wide */
 @media (max-width: 600px) {
   .carousel-caption {
     display: none;
   }
 }
